= form_for([@photo.album, @photo, @photo.comments.build]) do |f|
  = f.text_area :body, class: 'form-control', placeholder: t('comment')
  %p.text-right
    = f.submit t('create'), class: 'btn btn-default'
