= t '.title'
- object = activity.trackable.commentable
- if (object.class.name == 'Post')
  = link_to t('.post'), user_path(object.user)
- else
  = link_to t('.photo'), album_photo_path(object.album, object)
